.text-input{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: rgba(71, 71, 71, 0.515) ;
  border: none;
  height: 50px;
  border-radius: 8px;
}
.text-input label {
  font-size: 12px;
  font-weight: bold;
  color: rgba(240, 248, 255, 0.608);
}
.input-wrapper{
  width: 90%;
  padding-top: 0px;
}
.input-wrapper input{
  background-color: transparent !important;
  border: none;
  width: 100%;
  padding: 5px 0;
  color: white;
  font-size: 15px;
}
.input-wrapper input:focus {
  border: none;
  outline: none;
}