.auth {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 100vw;
  min-width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url("../../assets/pxfuel.jpg");
}
