.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 2fr;
  grid-template-areas:
    "working-task working-task working-task task-history"
    "create-new-task service-info guide get-help";
  gap: 15px; 
  padding: 100px 120px;
  background: linear-gradient(to bottom, #fff0df, #fff8f4);
}


@media (max-width: 1100px) {
  .dashboard {
    padding : 150px 30px;
  }
}

@media (max-width: 700px), (min-height: calc(0.9 * 100vw)) {
  .dashboard {
    display: grid;
    padding: 60px 15px;
    padding-top: 90px;
    padding-left: calc(30% - (30% * (1200px - 100vw) / (1200px - 700px)));
    padding-right: calc(30% - (30% * (1200px - 100vw) / (1200px - 700px)));
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr 3fr 2fr;
    grid-template-areas:
      "working-task working-task"
      "create-new-task service-info"
      "task-history task-history"
      "get-help guide";
  }
  
}

.working-task {
  grid-area: working-task;
}

.task-history {
  grid-area: task-history;
}

.create-new-task {
  grid-area: create-new-task;
}

.guide {
  grid-area: guide;
}

.service-info {
  grid-area: service-info;
}

.get-help {
  grid-area: get-help;
}

