.dashboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 2fr;
  grid-template-areas:
    "working-task working-task working-task task-history"
    "create-new-task service-info guide get-help";
  gap: 15px; 
  padding: 100px 120px;

}

@media (max-width: 1100px) {
  .dashboard {
    padding : 150px 30px;
  }
}

@media (max-width: 700px) {
  .dashboard {
    display: grid;
    padding : 60px 15px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 3fr 2fr 3fr 2fr;
    grid-template-areas:
     "working-task working-task"
    "create-new-task  service-info"
     "task-history task-history"
     "get-help guide"
     ;

  }
}

.working-task {
  grid-area: working-task;
}

.task-history {
  grid-area: task-history;
}

.create-new-task {
  grid-area: create-new-task;
}

.guide {
  grid-area: guide;
}

.service-info {
  grid-area: service-info;
}

.get-help {
  grid-area: get-help;
}

